<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Organizador de Tareas y Presupuesto</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
<header>
    <h1>Organizador de Tareas y Presupuesto</h1>
    <p>Una aplicación para gestionar tus tareas y finanzas de manera eficiente.</p>
</header>
<main>
    <section>
        <a href="/tareas" class="btn">Organizador de Tareas</a>
        <a href="/presupuesto" class="btn">Organizador de Presupuesto</a>
    </section>
</main>
</body>
</html>
